certifi>=2019.3.9
cffi>=1.12.3
# mkl-fft>=1.0.12
# mkl-random>=1.0.2
numpy~=1.16.4
olefile>=0.46
Pillow>=6.2.0
pycparser>=2.19
PyYAML>=5.1.1
six>=1.12.0
torch>=1.1.0
tqdm>=4.32.1
scipy>=1.5.3
einops~=0.3.0
pytorch-fast-transformers
torchvision~=0.8.1+cu110
tensorboardX~=2.1
torchviz~=0.0.1